@model IEnumerable<FriendsMVC.DataAccess.Models.Country>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container">
      <h2 class="mb-5">Фильтр по странам</h2>
      <div class="table-responsive custom-table-responsive">
        <table class="table custom-table">
          <thead>
            <tr>  
               <th scope="col">@Html.DisplayNameFor(model => model.CountryName)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.CityForCountry)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Population)</th>
            </tr>
             </thead>
            <tbody>
                    @foreach (var item in Model)
                    {
                                    <tr>
                                            <td>@Html.DisplayFor(modelItem => item.CountryName)</td>
                                            <td> @Html.DisplayFor(modelItem => item.CityForCountry)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Population)</td>
                                    </tr>
                                        <tr class="spacer"><td colspan="100"></td></tr>
                    }
           </tbody>
        </table>
      </div>
    </div>
</div>
